target
*.iml
*.ipr
*.iws
.DS_Store
*~
.idea
gen
out
gen-external-apklibs
.gradle
build
jarlist.cache
xcuserdata
.cabal-sandbox
cabal.sandbox.config

server/default
server/gradle
server/gradlew
server/gradlew.bat
server/logs